# MySQL5.5 configure file.  Sina.COM (R)#
# MySQL_version 5.5.31
# Version 1.1
# Date    2011-05-15

# The MySQL server
[mysqld]
port                    		= hello
user                    		= world

server-id                       = hello
log-bin                         = world
relay-log                       = hello
log-error                       = world
skip-grant-tables				

[myisamchk]
key_buffer                      = 1
sort_buffer_size                = 2
read_buffer                     = 3
write_buffer                    = 4
